<h1>Puzzles</h1>
<table>
<tr>
  <td>
    <a class="puzzle-index" href="#puzzles/new">New Puzzle</a>
  </td>
</tr>

<% puzzles.each(function (puzzle) { %>
  <tr class="puzzle-index group">
    <td><a href="#puzzles/<%= puzzle.id %>">
      Puzzle <%= puzzle.id %>
    </a></td>
    <td><a href="#puzzles/<%= puzzle.id %>">
      Current
    </a></td>
    <td><a href="#puzzles/<%= puzzle.id %>/solution">
      Solution
    </a></td>
    <td><a href="#puzzles/<%= puzzle.id %>/original">
      Original
    </a></td>
  </tr>
<% }) %>
</table>
