<div id = "puzzle">
<% edit_form ||= nil %>
<% solve_form ||= nil %>
<% create_form ||= nil %>
<%= form_for @puzzle do |f| %>
<table id="main">
  <% (0..8).each do |square| %>
    <% if square % 3 == 0 %>
      <tr>
    <%end%>
    <td>
      <table id="inner">
        <% (0..8).each do |place| %>
          <% if place % 3 == 0 %>
            <tr>
          <% end %>
              <td>
                <% location = 9*square + place %>
                  <% if edit_form  %>
                    <% if board[location]==0 %>
                      <%= nil %>
                    <% else %> 
                      <%= text_field_tag "#{[square,place]}", "#{board[location]}", :class => "square" %>
                    <% end %>
                  <% elsif solve_form %>
                    <% unless board[location]==0 %>
                      <%= board[location] %>
                    <% else %> 
                      <%= text_field_tag "#{[square,place]}", nil, :class => "square" %>
                    <%end %>
                  <% elsif create_form %>
                    <%= text_field_tag "#{[square,place]}", nil, :class => "square" %>
                  <% else %>
                    <% if board[location]==0 %>
                      <%= nil %>
                    <% else %> 
                      <%= board[location] %>
                    <%end %>
                  <% end %>
              </td>
          <% if place % 3 == 2 %>
            </tr>
          <% end %>
        <% end %>
      </table>
    </td>
    <% if square % 3 == 2 %>
      </tr>
    <%end%>
  <% end %>
</table>
<% if solve_form %>
  <%= submit_tag("Update") %>
<% elsif edit_form %>
  <%= submit_tag("Edit") %>
<% elsif create_form %>
  <%= submit_tag("Create") %>
<% end %>

<% end %>
</div>