<h1><%= "Solve Puzzle #{@puzzle.id}" %></h1>
<%= render :partial => 'displayboard', :locals => {:solve_form => true , :board => @puzzle.board} %>
<p>
<%= link_to "<< All Puzzles", puzzles_path %>
<%= link_to "Edit Puzzle", edit_puzzle_path(@puzzle) %>
<%= link_to "View Puzzle", puzzle_path(@puzzle) %>
<%= link_to "Delete Puzzle", puzzle_path(@puzzle),  method: :delete, data: {confirm: "Really delete this puzzle?"} %>
</p>